.form-page {
  background-color: #97d4cf;
  width: 100%;
  min-height: 1000px;
  padding: 30px;
  &__form {
    width: 850px;
    min-height: 100px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid purple;
    border-radius: 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__label {
    margin-bottom: 5px;
    font-size: 20px;
  }
  &__input {
    padding-left: 5px;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 14px;
    border: none;
    &:last-of-type {
      width: 50px;
    }
    &:focus {
      outline: none;
      border: 1px solid purple;
    }
  }
  &__btn {
    width: 200px;
    height: 35px;
    background-color: purple;
    border: none;
    border-radius: 5px;
    color: white;
    letter-spacing: 3px;
    font-weight: 200;
    &:hover {
      box-shadow: 1px 1px 15px purple;
    }
  }
  &__not {
    margin-top: 15px;
  }
}